* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav-bar  */

nav, .container_left, .container_right {
    display: flex;
    /* border: 1px solid red; */
}

nav {
    height: 50px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
}

/* nav-bar items */

a {
    text-decoration: none;
    color: #adadad;
}

nav .menu_left, nav .menu_right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .menu_left li, nav .menu_right li {
    display: inline-block;
    margin: auto 20px;
}

nav .menu_right li {
    padding: 20px 10px;
    position: relative;
}

.arrow-box {
    height: 1px;
    width: 1px;
    border-bottom: 10px solid grey;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    margin-top: 11px;
    left: 50%;
    transform: translate(-50%, -100%);
    display: none;
}

.logo {
    height: 40px;
}

.menu_right li i {
    margin-left: 10px;
}

.menu_right li:last-child a {
    padding: 10px;
    background-color: #eb008d;
    border-radius: 30px;
    color: white;
}

/* hover */

.menu_right a:hover {
    color: black;
}

.menu_right li:nth-last-child(2):hover i {
    transform: rotate(180deg);
}

.box .box_item li:hover {
    cursor: pointer;
    color: black;
}

/* box menu */

.box {
    border: 2px solid lightgray;
    padding: 20px;
    position: absolute;
    top: 50px;
    transform: translate(-25%);
    box-shadow: 2px 2px 2px grey;
    color: #adadad;
    display: none;
}


.box .box_item li {
    display: block;
    line-height: 1.3;
}

.display_block {
    display: block;
}

.add_after_beta, .add_after_nuovo {
    position: relative;
}

.add_after_beta::after {
    content: "beta";
    color: #eb008d;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
}

.add_after_nuovo::after {
    content: "Nuovo";
    color: #eb008d;
    font-size: 15px;
    position: absolute;
    bottom: 20px
}
